body {
    margin: 0;
    padding: 25px;
}

.boxone {
    border: 2px solid black;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.firstsquare {
    height: 80px;
    width: 30px;
    background-color: purple;
    display: inline-block;      
}

.secondsquare {
    height: 100px;
    width: 200px;
    display: inline-block;
    background-color:green;
    margin: 0 50px;
}

.thecircle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: skyblue;
    display: inline-block;
}

.boxtwo {
    border: 2px dotted black;
    width: 100%;
    height: 25vh;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
}

.bigyellow {
    background-color: #F4F468;
    height: 90%;
    width: 90%;
    box-shadow: 3px 3px 3px 0px;
    margin: auto;
    }

.boxthree {
    border: 1px solid black;
    width: 60vw;
    height: 50vh;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 10px;
}

h1 {
    text-align: center;
    width: 100%;
    letter-spacing: 8px;
    vertical-align: middle;
    margin-top: 3em;
}